client/client
client/client*
client/misc/
client/testfiles/
server/*.back
server/*.db
server/up/
server/server
server/conf.yml
server/ssl
releases
server/data/
prom.yml
vendor/
docs/env/
docs/site/
.vscode/
dist/
