.vscode/
client/client
client/client*
client/misc/
client/testfiles/
dist/
docs/env/
docs/site/
goploader-server
gpldr
prom.yml
releases
server/*.back
server/*.db
server/conf.yml
server/data/
server/server
server/ssl
server/up/
vendor/
