client/client
client/client*
client/misc/
client/testfiles/
server/my.db
server/*.back
server/*.db
server/up/
server/server
server/conf.yml
server/rice-box.go
server/ssl
releases
server/data/
prom.yml
vendor/
docs/env/
docs/site/
.vscode/

dist/
