<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/prettify.css">
    <link rel="stylesheet" type="text/css" href="/static/sunburst.css">
    <script type="text/javascript" src="/static/prettify.js"></script>
</head>

<body onload="PR.prettyPrint()">
    <pre class="prettyprint">{{ .code }}</pre>
</body>

</html>

