<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GoMonit</title>
    <meta name="description" content="Goploader">
    <meta name="author" content="Depado">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="static/semantic/semantic.min.css">
</head>

<body>
    <h1 class="ui center aligned header"></h1>
    <main class="ui page grid">
        <div class="row">
            Hellow
        </div>
    </main>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/semantic/semantic.min.js"></script>
</body>

</html>
