<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Goploader</title>
    <meta name="description" content="Simple file hosting with server-side encryption." />
    <meta property="og:title" content="Simple file hosting with server-side encryption." />
    <meta property="og:description" content="Simple file hosting with server-side encryption." />
    <link rel="shortcut icon" type="image/png" href="static/favicon.ico" />
    <link rel="stylesheet" target="blank" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/milligram.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <main class="wrapper">
        {{ if .fulldoc }}
        <nav class="navigation">
            <section class="container">
                <a class="navigation-title">
                    <h1 class="title">Goploader</h1>
                </a>
                <ul class="navigation-list float-right">
                    <li class="navigation-item">
                        <a class="navigation-link" href="#" id="toggle-upload">Upload</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" href="#" id="toggle-introduction">Introduction</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" href="#" id="toggle-client">Client</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" href="#" id="toggle-curl">Curl</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" href="#" id="toggle-server">Server</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" href="https://github.com/Depado/goploader" target="_blank">Github</a>
                    </li>
                </ul>
            </section>
        </nav>
        {{ end }}
        <section id="upload" class="container fullheader">
            <h1 class="title">Goploader</h1>
            <h2>Because file sharing is meant to be easy</h2>
            <form id="upload-form">
                <fieldset>
                    <input type="file" name="file" id="upload-file" class="inputfile" />
                    <label for="upload-file">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewbox="0 0 20 17">
                            <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                        </svg><span>Choose a file…</span>
                    </label>
                    <select name="duration" id="duration">
                        <option value="30m">30 Minutes</option>
                        <option value="1h">1 Hour</option>
                        <option value="6h">6 Hours</option>
                        <option value="1d">1 Day</option>
                        <option value="1w">1 Week</option>
                    </select>
                    <a class="button button-outline" href="#" id="upload-btn">Upload</a>
                    <br />
                    <p id="upload-error" style="display: none;"></p>
                    <p>
                        Your file will be encrypted server-side. Maximum size : {{.size_limit}}Mo
                    </p>
                </fieldset>
            </form>
            <br />
            <div id="upload-result" style="display: none; text-align: center;">
                <p id="upload-url"></p>
                <br />
                <a class="button button-outline" href="#" id="upload-again">Upload Another File</a>
            </div>
            <div class="row" id="upload-loader" style="display: none;">
                <div class="column column-offset-50">
                    <div class="circle circle1"></div>
                    <div class="circle circle2"></div>
                </div>
            </div>
        </section>
        {{ if .fulldoc }}
        <section id="introduction" class="container" style="display: none;">
            <h5 class="title">Introduction</h5>
            <p>
                This is a page about the
                <code>goploader</code> project. The philosophy of goploader is that it should be easy to share files from your terminal. If you want to share a file with a few of your friends for example.
            </p>
            <p>
                This project is composed of a client and a server. Both are free (as in speech and as in beer) and you can install, tweak or do whatever you want with the server. If you want people to use your service with the official client, they will have to modify
                the <code>~/.config/goploader.conf.yml</code> file.
            </p>
            <p><b>Features</b></p>
            <ul>
                <li>HTTPS only using <a href="https://letsencrypt.org/" target="_blank">Let's Encrypt</a> and <a href="https://caddyserver.com/" target="_blank">Caddy Server</a></li>
                <li>Upload directly from
                    <code>stdin</code>.
                </li>
                <li>Upload a file by giving it as an argument to the client.</li>
                <li>All files are encrypted upon reception and decrypted when served.</li>
                <li>The key to decrypt files is not saved on the server.</li>
            </ul>
            <p><b>Current Limitations</b></p>
            <ul>
                <li>File size is limited to 20 Mo (20 MB)</li>
                <li>Files live for two hours only.</li>
            </ul>
        </section>
        <section id="client" class="container" style="display: none;">
            <h5 class="title">Client</h5>
            <ul>
                <li><a href="#client-downloads">Downloads</a></li>
                <li><a href="#client-archlinux">Archlinux</a></li>
                <li><a href="#client-documentation">Documentation</a></li>
                <li><a href="#client-examples">Examples</a></li>
            </ul>
            <p id="client-downloads">&nbsp;</p>
            <p><b>Binary Downloads</b></p>
            <p>Here are the download links for the client. For a more up to date version, consider installing
                <code>Go</code> on your computer and compile the client from the Github source code.</p>
            <div class="row">
                <div class="column">
                    <a class="button button-outline" href="releases/clients/client_linux_amd64">Linux 64-Bit</a>
                </div>
                <div class="column">
                    <a class="button button-outline" href="releases/clients/client_freebsd_amd64">FreeBSD 64-Bit</a>
                </div>
                <div class="column">
                    <a class="button button-outline" href="releases/clients/client_darwin_amd64">Mac OS 64-Bit</a>
                </div>
                <div class="column">
                    <a class="button button-outline" href="releases/clients/client_windows_amd64.exe">Windows 64-Bit</a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a class="button button-outline" href="releases/clients/client_linux_386">Linux 32-Bit</a>
                </div>
                <div class="column">
                    <a class="button button-outline" href="releases/clients/client_freebsd_386">FreeBSD 32-Bit</a>
                </div>
                <div class="column">
                    <a class="button button-outline" href="releases/clients/client_darwin_386">Mac OS 32-Bit</a>
                </div>
                <div class="column">
                    <a class="button button-outline" href="releases/clients/client_windows_386.exe">Windows 32-Bit</a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a class="button button-outline" href="releases/clients/client_linux_arm">Linux ARMv7</a>
                </div>
            </div>
            <br />
            <p id="client-archlinux">&nbsp;</p>
            <p><b>Archlinux</b></p>
            <p>If you're running Archlinux, there is a <code>goploader-client-git</code> package in AUR.</p>
            <div class="row">
                <div class="column column-offset-25">
                    <p><code>yaourt -S goploader-client-git</code></p>
                </div>
            </div>
            <p><i>Thanks to krion for setting up the AUR package</i></p>
            <p id="client-documentation">&nbsp;</p>
            <p><b>Documentation</b></p>
            <p>On the first run, goploader will try to read from <code>~/.config/goploader.conf.yml</code>. A default configuration will be written in this file if it can't be found. Also, if the <code>~/.config/</code> directory doesn't exist, it will be
                created. This will be executed only once, you'll get a single line of log the first time you'll use the client.
                <br />
                <br />
                <i>Note : If you want to use another server than mine (a friend of yours installed the server or your own server), you'll have to edit this file to point to your service.</i></p>
            <p>Here is a list of the accepted arguments of the client :
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Short</th>
                        <th>Long</th>
                        <th>Default</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <code>-c</code>
                        </td>
                        <td>
                            <code>--clipboard</code>
                        </td>
                        <td>false</td>
                        <td>Copies the returned URL directly to the clipboard (needs
                            <code>xclip</code> or
                            <code>xsel</code>)</td>
                    </tr>
                    <tr>
                        <td>
                            <code>-d</code>
                        </td>
                        <td>
                            <code>--delay</code>
                        </td>
                        <td>0</td>
                        <td>Defines a delay before the program executes. In the form of
                            <code>10s</code>/
                            <code>2m</code>/etc…</td>
                    </tr>
                    <tr>
                        <td>
                            <code>-n</code>
                        </td>
                        <td>
                            <code>--name</code>
                        </td>
                        <td>
                            <code>""</code>
                        </td>
                        <td>Specify the filename you want. This will be the filename of the file when downloading it or viewing it. When uploading a file, defaults to the name of the file. When uploading from stdin, defaults to
                            <code>stdin</code>.</td>
                    </tr>
                    <tr>
                        <td>
                            <code>-p</code>
                        </td>
                        <td>
                            <code>--progress</code>
                        </td>
                        <td>false</td>
                        <td>Displays a progress bar while uploading the file. Shows ETA, current network speed, percentage and size uploaded.</td>
                    </tr>
                    <tr>
                        <td>
                            <code>-s</code>
                        </td>
                        <td>
                            <code>--screenshot</code>
                        </td>
                        <td>false</td>
                        <td>Takes a screenshot and directly uploads it. Works nicely with the
                            <code>delay</code> option. <i>Note : The <code>import</code> command must be available.</i></td>
                    </tr>
                    <tr>
                        <td>
                            <code>-t</code>
                        </td>
                        <td>
                            <code>--tee</code>
                        </td>
                        <td>false</td>
                        <td>Displays the content on
                            <code>stdout</code> whever you read from
                            <code>stdin</code> or a file.</td>
                    </tr>
                    <tr>
                        <td>
                            <code>-v</code>
                        </td>
                        <td>
                            <code>--verbose</code>
                        </td>
                        <td>false</td>
                        <td>Activates the debug logs. Useful for troubleshooting.</td>
                    </tr>
                    <tr>
                        <td>
                            <code>-w</code>
                        </td>
                        <td>
                            <code>--window</code>
                        </td>
                        <td>false</td>
                        <td>When using the
                            <code>screenshot</code>, this option allows you to select a window or a zone to screenshot before uploading it.</td>
                    </tr>
                    <tr>
                        <td>
                            <code>-l</code>
                        </td>
                        <td>
                            <code>--lifetime</code>
                        </td>
                        <td>1d</td>
                        <td>Define the lifetime of your file on the server. Basically you need to choose between <code>30m, 1h, 6h, 1d, 1w</code> which are the equivalent for 30 minutes, 1 or 6 hours, 1 day, and 1 week.</td>
                    </tr>
                </tbody>
            </table>
            <p>These options can be activated separately. For example
                <code>goploader --progress --delay="5s" myfile.txt</code> can be written
                <code>goploader -pd 5s myfile.txt</code>. All the short arguments can be concatenated on the condition that they are all boolean except the last one that can be a boolean or take a value.</p>
            <p id="client-examples"><b>Examples</b></p>
            <p>Take a screenshot of the whole screen after 5 seconds, upload it with a progress bar and copy the returned URL to the clipboard :
                <br />
                <code>$ goploader --progress --screenshot --delay="5s" --clipboard</code>
                <span class="float-right">Long Options</span>
                <br />
                <code>$ goploader -pscd 5s</code>
                <span class="float-right">Short Options</span>
            </p>
            <p>Select a windows or zone, screenshot that and upload it :
                <br />
                <code>$ goploader --screenshot --window</code>
                <span class="float-right">Long Options</span>
                <br />
                <code>$ goploader -sw</code>
                <span class="float-right">Short Options</span>
            </p>
            <p>Upload a file with a progress bar :
                <br />
                <code>$ goploader -p myfile</code>
                <span class="float-right">Argument</span>
                <br />
                <code>$ goploader -p
                    &lt; myfile</code>
                <span class="float-right">Stdin</span>
                <br />
                <code>$ cat myfile | goploader -p</code>
                <span class="float-right">Stdin</span>
                <br />
                <i>Note : When the datasource is stdin, the total size of the file (or the total amount of text a command yields) can't be calculated
            that's why the progress bar will only display the upload speed.</i>
            </p>
        </section>
        <section id="curl" class="container" style="display: none;">
            <h5 class="title">Curl</h5>
             <p>One of the main goals of goploader, is the ease of use. This is why the goploader server doesn't use a JSON API, to guarantee that any user can upload files painlessly.</p>
              <p>
                For this reason, you don't need a client at all, and can simply upload your files with curl.
                <br />
                <br />
                <code>$ curl -F file=@myfile.txt https://up.depado.eu/</code>
                <br />
                <i>Your file will be named <code>myfile.txt</code></i>
                <br />
                <br />
                <code>$ curl -F name="myamazingfile!" -F file=@myfile.txt https://up.depado.eu/</code>
                <br />
                <i>Your file will be named <code>myamazingfile!</code></i>
                <br />
                <br />
                <code>$ cat myfile.txt | curl -F name="stdin" -F file=@- https://up.depado.eu/</code>
                <br />
                <i>Reads data from <code>stdin</code></i>
                <br />
                <br />
                <code>$ curl -F file=@- https://up.depado.eu/ &lt; myfile.txt</code>
                <br />
                <i>Another way of uploading a file</i>
                <br />
                <br />
                <code>$ curl -F file=@- -F duration=1w https://up.depado.eu/ &lt; myfile.txt</code>
                <br />
                <i>Specify the lifetime of your file (one week in that example, see the client's documentation for all the avaiable options)</i>
            </p>
        </section>
        <section id="server" class="container" style="display: none;">
            <h5 class="title">Server</h5>
            <ul>
                <li><a href="#server-downloads">Downloads</a></li>
                <li><a href="#server-downloads-explanations">Types of Downloads</a></li>
                <li>
                    <a href="#server-setup">Setup</a>
                    <ul>
                        <li><a href="#server-setup-web">Web Setup</a></li>
                        <li><a href="#server-setup-conf">The <code>conf.yml</code> File</a></li>
                    </ul>
                </li>
            </ul>
            <p id="server-downloads">&nbsp;</p>
            <p><b>Downloads</b></p>
            <p>
                If you wish, you can install the
                <code>goploader</code> server. You can either compile it from the source code if you have a specific architecture or download the Linux 64-Bit or ARMv7 version with the link below.
            </p>
            <div class="row">
                <div class="column">
                    <a class="button button-outline" href="releases/servers/server-standalone_amd64.tar.gz">Linux 64-Bit Standalone</a>
                </div>
                <div class="column">
                    <a class="button button-outline" href="releases/servers/server-standalone_arm.tar.gz">Linux ARMv7 Standalone</a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a class="button button-outline" href="releases/servers/server_amd64.tar.gz">Linux 64-Bit</a>
                </div>
                <div class="column">
                    <a class="button button-outline" href="releases/servers/server_arm.tar.gz">Linux ARMv7</a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a class="button button-outline" href="releases/servers/clients.tar.gz">All Cross-Compiled Clients</a>
                </div>
                <div class="column">
                    <a class="button button-outline" href="releases/servers/servers.tar.gz">All Servers Releases</a>
                </div>
            </div>
            <br />
            <p id="server-downloads-explanations">&nbsp;</p>
            <p><b>Types of Downloads</b></p>
            <ul>
                <li>The “Standalone” distribution contains only a binary. All assets and templates (html files) are included directly in the binary. If you don't intend to modify those assets, this distribution is for you.</li>
                <li>The other distributions contains a binary for the server and the folders containing the assets so that you can freely modify them to your preferences. Please don't touch the footer though, giving credit to the author of the software helps
                    a lot.</li>
            </ul>
            <ul>
                <li>“All Cross-Compiled Clients” can be used if you want to serve this very page and distribute the clients. Simply extract this archive so that the binaries are in the <code>goploader-server/releases/clients/</code> directory.</li>
                <li>“All Servers Releases” can be used if you want to serve this very page and distribute the server. Simply extract this archive so that the included archives are placed in the <code>goploader-server/releases/servers/</code> directory.</li>
            </ul>
            <i>That's kind of meta…</i>
            <p>
                You don't need to create a
                <code>conf.yml</code> file. If you run the server and the said file is absent or have missing fields, the server will enter setup mode in which you will be able to configure your server on a web page. It will then marshal the configuration
                to the said
                <code>conf.yml</code> file and you will be able to run the server once again which will work as expected.
            </p>
            <p>
                This very page is served by the goploader server itself. You can disable it by setting the <code>fulldoc</code> option to false (while doing your setup or directly in the configuration file). After that you're free to modify the <code>templates/welcome.html</code>                to whatever you want.
            </p>
            <p>
                If people want to use your service, they'll have to modify the configuration file that is created in their configuration directory : <code>~/.config/goploader.conf.yml</code>.
            </p>
            <br />
            <p id="server-setup">&nbsp;</p>
            <p><b>Setup</b></p>
            <p id="server-setup-web">&nbsp;</p>
            <p><u>Web Setup</u></p>
            <p>There are currently two ways of configuring a goploader server. You can either run the binary a first time and follow the setup instructions in your browser (it will first run on the 8008 port, so make sure this port is available).</p>
            <pre><code> ./server --initial
 Please go to http://127.0.0.1:8008 to setup goploader.</code></pre>
            <p>
                This step will generate a <code>conf.yml</code> file next to your binary file. This is the configuration file of your service. You can freely modify it, keep in mind that you'll need to restart the service each you modify it so the changes
                are applied.
            </p>
            <p id="server-setup-conf">&nbsp;</p>
            <p><u>The <code>conf.yml</code> File</u></p>
            <p>
                The other solution is to directly create a <code>conf.yml</code> file next to the binary (or wherever you want, you can actually specify a configuration file with the <code>-c (--conf)</code> flag.)
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Description</th>
                        <th>Example Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <code>name_server</code>
                        </td>
                        <td>
                            The server name to use. This is used to return correct URLs to the clients.
                        </td>
                        <td>up.depado.eu</td>
                    </tr>
                    <tr>
                        <td>
                            <code>upload_dir</code>
                        </td>
                        <td>
                            The local or absolute path where the files should be uploaded to.
                        </td>
                        <td>up/</td>
                    </tr>
                    <tr>
                        <td>
                            <code>db</code>
                        </td>
                        <td>
                            The local or absolute path of the database, along with its name.
                        </td>
                        <td>
                            goploader.db
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code>port</code>
                        </td>
                        <td>
                            Port on which the server should listen.
                        </td>
                        <td>8003</td>
                    </tr>
                    <tr>
                        <td>
                            <code>uniuri_length</code>
                        </td>
                        <td>
                            Length of the unique identifier for each uploaded file.
                        </td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>
                            <code>size_limit</code>
                        </td>
                        <td>
                            The maximum upload size the server should accept in Mo.
                        </td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>
                            <code>fulldoc</code>
                        </td>
                        <td>
                            Whether or not to display the full documentation of goploader (what you're reading right now).
                        </td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>
                            <code>debug</code>
                        </td>
                        <td>
                            Turn on and off the Gin debug mode. Useful to get more information if something goes wrong.
                        </td>
                        <td>false</td>
                    </tr>
                </tbody>
            </table>
        </section>
        {{ end }}
    </main>
    <footer class="footer site-footer">
        <section class="container">
            <p>
                Made with ♥ by <a target="_blank" href="https://github.com/Depado" title="Depado">Depado</a>. Follow me on <a href="https://twitter.com/Depado_" target="_blank">Twitter</a>. Thanks to <a target="_blank" href="http://cjpatoilo.com" title="CJ Patoilo">CJ Patoilo</a>                for the <a href="http://milligram.github.io/" target="_blank">Milligram CSS Framework</a>.<br />
                Did you know ? You can install the server on your own machine ! <a href="https://up.depado.eu/#server" target="_blank">Check it out.</a>
            </p>
        </section>
    </footer>
    <script src="static/jquery.min.js"></script>
    <script src="static/custom.js"></script>
</body>

</html>
