<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="static/favicon.ico" />
    <title>Goploader</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" target="blank" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/milligram.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <main class="wrapper">
        <section class="container" style="text-align: center;">
            <h5 class="title">Goploader is now configured. You can restart the goploader server now.</h5>
            <p>
                A <code>conf.yml</code> file has be written containing your configuration.
                If you want to re-run this setup you can either delete that file or start
                the server with the -i (--initial) option.
            </p>
        </section>
    </main>
</body>

</html>
