<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ .name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/prism/prism-{{ .theme }}.css">
</head>

<body>
    <pre {{ if .lines }}class="line-numbers"{{ end }}><code class="language-{{ .lang }}">{{ .code }}</code></pre>
    <script type="text/javascript" src="/static/prism/prism.js"></script>
    <script>
        Prism.plugins.autoloader.languages_path = '/static/prism/components/';
    </script>
</body>

</html>

